Repository richpauly13/easy: changes, and which Codecov flags are due for each by the changed paths.
All: easy, docs

Auto-generated commit [ci skip]
  404.html
  index.html
  main.3e980ee4f81e7a80.js
  main.be6a1330eea2eac1.js
  runtime.4b4dce816cc56ab9.js
  runtime.f96c4721bd288bf3.js
Due: none

chore(deps): bump deps
  package.json
Due: none

chore(deps): bump deps
  package-lock.json
  package.json
Due: none

Auto-generated commit [ci skip]
  404.html
  index.html
  main.3fcab3db4c30e321.js
  main.be6a1330eea2eac1.js
Due: none

Auto-generated commit [ci skip]
  404.html
  491.b52a6cecc5e8ad04.js
  491.f32123d77caa77ea.js
  851.027f90bb32648839.js
  851.8ab9deb286bd7f2a.js
  888.344bcb5bffa5748e.js
  888.a5b287823ade860d.js
  index.html
  main.3fcab3db4c30e321.js
  main.4441c44608c9fbb1.js
  polyfills.9f47f2225a2fe7d7.js
  polyfills.c9895ccd60d32923.js
  runtime.4b4dce816cc56ab9.js
  runtime.b12762994c1c49e5.js
Due: none

chore(deps): bump deps
  package-lock.json
  package.json
  projects/easy-framework/package-lock.json
  projects/easy-framework/package.json
  projects/easy-framework/src/lib/easy-framework.component.ts
Due: easy

Auto-generated commit [ci skip]
  14.3f5611d895a78b59.js
  201.07a1111e0395102c.js
  256.9e607f0b366e656b.js
  3rdpartylicenses.txt
  404.html
  491.f32123d77caa77ea.js
  851.027f90bb32648839.js
  888.344bcb5bffa5748e.js
  index.html
  main.4441c44608c9fbb1.js
  main.dbcbca208dfff4f4.js
  polyfills.6b183bfa4c754971.js
  polyfills.c9895ccd60d32923.js
  runtime.249c36c8a6754c63.js
  runtime.b12762994c1c49e5.js
Due: none

fix: package.json to reduce vulnerabilities
  package.json
Due: none

chore(deps): bump deps
  .eslintrc.js
  package-lock.json
  package.json
Due: none

chore(deps): bump deps
  .eslintrc.js
  package-lock.json
  package.json
  projects/easy-docs/.eslintrc.js
  projects/easy-docs/src/app/app.component.html
  projects/easy-docs/src/app/component/component.component.html
  projects/easy-docs/src/app/layout/layout.component.html
  projects/easy-docs/src/app/utilities/utilities.component.html
  projects/easy-docs/src/index.html
  projects/easy-docs/tsconfig.eslint.json
Due: docs

Auto-generated commit [ci skip]
  14.3f5611d895a78b59.js
  14.cea54bd99fb14b16.js
  201.07a1111e0395102c.js
  201.1bc7ce9cff01a48b.js
  256.9e607f0b366e656b.js
  256.c0d6e0766a3a23e6.js
  404.html
  index.html
  main.b75cb932e1dc4918.js
  main.dbcbca208dfff4f4.js
  polyfills.6b183bfa4c754971.js
  polyfills.aa672ff5fd2ffe43.js
  runtime.249c36c8a6754c63.js
  runtime.f3154d519693fba2.js
  styles.9b5b59abe16b40f4.css
  styles.d1a5a416171be365.css
Due: none

chore(deps): bump deps
  .eslintrc.js
  angular.json
  package-lock.json
  package.json
  projects/easy-framework/src/lib/component/alert/alert.component.html
  projects/easy-framework/src/lib/component/badge/badge.component.html
  projects/easy-framework/src/lib/component/button/button.component.html
  projects/easy-framework/src/lib/component/card/card.component.html
  projects/easy-framework/src/lib/component/form/form.component.html
  projects/easy-framework/src/lib/component/progress/progress.component.html
  projects/easy-framework/src/lib/component/slider/slider.component.html
  projects/easy-framework/src/lib/component/spinner/spinner.component.html
  projects/easy-framework/src/lib/component/switch/switch.component.html
  projects/easy-framework/src/lib/component/tab/tab.component.html
  projects/easy-framework/src/lib/component/table/table.component.html
  projects/easy-framework/src/lib/easy-framework.component.html
  projects/easy-framework/src/lib/layout/flexbox/flexbox.component.html
  projects/easy-framework/src/lib/layout/grid/grid.component.html
  projects/easy-framework/src/lib/layout/nav/nav.component.html
Due: easy

chore(deps): bump deps
  .github/workflows/main.yml
  package-lock.json
  package.json
Due: none

chore(deps): bump deps
  .github/workflows/main.yml
  package.json
Due: none

Auto-generated commit [ci skip]
  14.bdfc1c0bfb6dc44e.js
  14.cea54bd99fb14b16.js
  201.1bc7ce9cff01a48b.js
  201.1fe94b389bc48c5e.js
  256.6fc96768e238f930.js
  256.c0d6e0766a3a23e6.js
  404.html
  index.html
  main.94309825d03b919c.js
  main.b75cb932e1dc4918.js
  polyfills.93a816ee7072fb37.js
  polyfills.aa672ff5fd2ffe43.js
  runtime.b45e8241ffcc62ed.js
  runtime.f3154d519693fba2.js
Due: none

chore(deps): bump deps
  .editorconfig
  .eslintrc.js
  projects/easy-docs/.eslintrc.js
  projects/easy-docs/src/app/app-routing.module.ts
  projects/easy-docs/tsconfig.app.json
  projects/easy-framework/.eslintrc.js
  tsconfig.json
Due: easy, docs

chore(deps): bump deps
  .editorconfig
Due: none

chore(deps): bump deps
  .editorconfig
  .eslintrc.js
  README.md
  angular.json
  package-lock.json
  package.json
  projects/easy-docs/.eslintrc.js
  projects/easy-docs/src/index.html
  projects/easy-framework/package.json
  tsconfig.json
Due: easy, docs

Path conditions:
  easy: any of: projects/easy-framework
  docs: any of: projects/easy-docs
