Repository richpauly13/easy: changes, and which Codecov flags are due for each by the changed paths.
All: easy, docs

chore(deps): bump deps
  package-lock.json
  package.json
Due: none

chore(deps): bump deps
  .github/workflows/main.yml
  package-lock.json
  package.json
Due: none

Auto-generated commit [ci skip]
  404.html
  index.html
  main.7ef05daa989fdc13.js
  main.fc6c83f6cfc09555.js
Due: none

Auto-generated commit [ci skip]
  404.html
  index.html
  main.69c7343180b4bdd5.js
  main.7ef05daa989fdc13.js
Due: none

chore(deps): bump deps
  .eslintrc.js
  package-lock.json
  package.json
Due: none

Auto-generated commit [ci skip]
  404.html
  index.html
  main.69c7343180b4bdd5.js
  main.a135d396226271d4.js
Due: none

Auto-generated commit [ci skip]
  404.html
  index.html
  main.a135d396226271d4.js
  main.f9b0e4066897a526.js
Due: none

Auto-generated commit [ci skip]
  404.html
  index.html
  main.96739a0297dd1973.js
  main.f9b0e4066897a526.js
Due: none

chore(deps): bump deps
  package-lock.json
  package.json
  projects/easy-docs/karma.conf.js
  projects/easy-framework/karma.conf.js
Due: easy, docs

Auto-generated commit [ci skip]
  404.html
  index.html
  main.09bd846a0f2f669c.js
  main.96739a0297dd1973.js
Due: none

chore(deps): bump deps
  angular.json
  package-lock.json
  package.json
  projects/easy-docs/src/app/app-routing.module.ts
  projects/easy-docs/src/app/component/form/form.component.spec.ts
  projects/easy-docs/src/app/component/form/form.component.ts
  projects/easy-framework/tsconfig.lib.json
  tsconfig.json
Due: easy, docs

Auto-generated commit [ci skip]
  404.html
  491.194772705fa2c36f.js
  491.689d7ff49a616015.js
  888.096a584b1a81a968.js
  888.6ee0ff6b42ba9b86.js
  93.17760e6819203e28.js
  93.b417b9c8cddbffcc.js
  index.html
  main.098fe3469f06e6d1.js
  main.09bd846a0f2f669c.js
  polyfills.202c8011e876b93a.js
  polyfills.aa50bdd96f66c43b.js
  runtime.39f2750703a3ad32.js
  runtime.f8ad592d402605dc.js
Due: none

chore(deps): bump deps
  angular.json
  package-lock.json
  package.json
  projects/easy-docs/src/app/component/form/form.component.spec.ts
  projects/easy-docs/src/app/component/form/form.component.ts
Due: docs

chore(deps): bump deps
  package-lock.json
  package.json
  projects/easy-docs/src/app/component/form/form.component.ts
Due: docs

chore(deps): bump deps
  package-lock.json
  package.json
  projects/easy-docs/src/app/component/form/form.component.spec.ts
  projects/easy-docs/src/app/component/form/form.component.ts
Due: docs

Auto-generated commit [ci skip]
  404.html
  888.6ee0ff6b42ba9b86.js
  888.e481ddbb66e31cc8.js
  index.html
  main.098fe3469f06e6d1.js
  main.0e697565236f4872.js
  runtime.902afae65175d2c1.js
  runtime.f8ad592d402605dc.js
Due: none

chore(deps): bump deps
  .github/workflows/main.yml
  package-lock.json
Due: none

Auto-generated commit [ci skip]
  404.html
  index.html
  main.0e697565236f4872.js
  main.849273d8b9e3e58f.js
Due: none

Auto-generated commit [ci skip]
  404.html
  index.html
  main.849273d8b9e3e58f.js
  main.d03bade8f0cccebe.js
  polyfills.202c8011e876b93a.js
  polyfills.cab5ab274e830009.js
Due: none

chore(deps): bump deps
  package-lock.json
  package.json
  projects/easy-framework/package.json
Due: easy

Auto-generated commit [ci skip]
  404.html
  index.html
  main.6d6248ba45883da6.js
  main.d03bade8f0cccebe.js
Due: none

Auto-generated commit [ci skip]
  404.html
  index.html
  main.6d6248ba45883da6.js
  main.c8756c411de8ddbe.js
  runtime.47bc56533760f7bd.js
  runtime.902afae65175d2c1.js
Due: none

Path conditions:
  easy: any of: projects/easy-framework
  docs: any of: projects/easy-docs
